.cozy-3raOZG .header-23xsNx .username-1A8OIy {
    border-left: 3px solid currentColor;
	box-shadow: inset 10px 0 10px -12px currentColor;
    text-shadow: 0 0 12px currentColor;
    height: 30px;
    padding-left: 8px;
}
